{# Activity bar partial. Pass context: 'customizer' or 'code-editor' #}

{% set theme_slug = theme.getSlug() %}
{% set ab_context = ab_context|default('customizer') %}

<nav class="activity-bar" id="activityBar">
    <div class="activity-bar-top">
        {% if ab_context == 'customizer' %}
        <button class="ab-item active" data-ab-panel="sections" data-tooltip="Sections">
            {% include '@cms/partials/sidebar-icon.twig' with {icon: 'palette'} only %}
        </button>
        {% else %}
        <a href="{{ admin_url('themes/' ~ theme_slug ~ '/customize') }}" class="ab-item" data-tooltip="Customize">
            {% include '@cms/partials/sidebar-icon.twig' with {icon: 'palette'} only %}
        </a>
        {% endif %}

        <a href="{{ admin_url('themes/' ~ theme_slug ~ '/code') }}" class="ab-item{% if ab_context == 'code-editor' %} active{% endif %}" data-tooltip="Code Editor">
            {% include '@cms/partials/sidebar-icon.twig' with {icon: 'code'} only %}
        </a>

        {% if ab_context == 'customizer' %}
        <div class="ab-separator"></div>
        <button class="ab-item" data-ab-panel="pages" data-tooltip="Pages">
            {% include '@cms/partials/sidebar-icon.twig' with {icon: 'layers'} only %}
        </button>
        <button class="ab-item" data-ab-panel="settings" data-tooltip="Settings">
            {% include '@cms/partials/sidebar-icon.twig' with {icon: 'settings'} only %}
        </button>
        {% endif %}
    </div>
    <div class="activity-bar-bottom">
        <a href="{{ admin_url('themes') }}" class="ab-item" data-tooltip="Back to Themes">
            {% include '@cms/partials/sidebar-icon.twig' with {icon: 'arrow-left'} only %}
        </a>
    </div>
</nav>
